{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content  %} 
    <section class="card card-body">
        <h1 class="display-1 text-center">DJANGO APLICATION</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
        Facere dolore minima fuga quae dolorem ipsum nemo esse error magnam recusandae distinctio, <br>
        harum, dolores asperiores similique suscipit reiciendis. Eligendi, nisi maiores?
        </p>
        <div class="text-center">
            <a class="btn btn-primary" href="{% url 'signin' %}">SIGN IN</a>
            <a class="btn btn-primary" href="{% url 'signup' %}">SIGN UP</a>
        </div>
    </section>
{% endblock  %}
