{% extends 'base.html' %}

{% block title %} signup {% endblock title %}

{% block content %}
    <main class="container mt-5">
        <form class="card card-body" action="{% url 'signup' %}" method='POST'>
            <h1 class="text-center">SIGN UP</h1>
            {% csrf_token %}
            <div class="mb-3">
                <label for="username">Username:</label>
                <input class="form-control" type="text" name="username" placeholder="write your username" id="username">
            </div>
            <div class="mb-3">
                <label for="password1">Password:</label>
                <input class="form-control" type="password" name="password1" placeholder="write your password" id="password1">
            </div>
            <div class="mb-3">
                <label for="password2">Confirm password:</label>
                <input class="form-control" type="password" name="password2" placeholder="confirm your password" id="password2">
            </div>
            <button class="btn btn-success" type='submit'>SIGN UP</button>
        </form>
    </main>
{% endblock %}


