{% extends "base.html" %}

{% block title %} Task {% endblock %}

{% block content %}
    <main>
        <h1 class="text-center">TASKS!</h1>
        <ul class="list-group">
            {% for task in task %}
                {% if task.date_complete == None %}
                    <div class="container">
                        <li><h1 class="fw-bold text-danger">{{task.title}}</h1></li>
                        <a class="btn btn-primary" href="{% url 'details' task.id %}">task detail</a>
                        <a class="btn btn-danger" href="{% url 'delete' task.id %}">Delete task</a>
                        <strong>INCOMPLETE</strong>
                    </div> 
                {% else %}
                    <div class="container">
                        <li><h1 class="fw-bold text-success">{{task.title}}</h1></li>
                        <a class="btn btn-primary" href="{% url 'details' task.id %}">task detail</a>
                        <a class="btn btn-danger" href="{% url 'delete' task.id %}">Delete task</a>
                        <strong>COMPLETED</strong>
                    </div>
                    
                {% endif %} 
            {% endfor %}
        </ul>
    </main>
    
{% endblock content %}

